body {
  background-color: #1e1e1e;
  font-family: Arial;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cal {
  background: white;
  position: absolute;
  top: 200px;
}
h1 {
  color: white;
}

button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

div {
  margin-bottom: 5px;
}

input {
  width: 220px;
  height: 60px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

#display {
  width: 250px;
  height: 50px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: right;
  border-radius: 8px;
  border: 2px solid black;
}

/* numbers */
button:nth-child(1),
button:nth-child(2),
button:nth-child(3) {
  background: #2d5cff;
  color: white;
}

/* operators */
button:nth-child(4) {
  background: orange;
  color: white;
}
